<h1>My Skills</h1>
<a href="/" class="btn" >back</a>
<a href="/skills/new" class="btn orange waves-effect">Add Skill</a>
<ul class="collection">
    <% skills.forEach((skill) => { %>
    <li class="collection-item"><a href="/skills/<%= skill.id %>"><%= skill.title %></a></li>
    <% }); %>
</ul>

