<h1>My Skills</h1>
<a href="/skills/new">Add Skill</a>
<ul>
    <% skills.forEach((skill) => { %>
    <li><a href="/skills/<%= skill.id %>"><%= skill.title %></a></li>
    <% }); %>
</ul>

<a href="/">back</a>
