<h1>Add Skill</h1>
<form action="/skills" method="post" class="add-skill-form">
  <label for="title">Skill Title</label>
  <input type="text" name="title" id="title"/>
  <label for="description">Skill Description</label>
  <input type="text-field" name="description" id="description"/>
  <button type="submit">Add</button>
</form>
